
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.entry-collapsed {
    .icon-expanded {
        display: none;
    }
}

.entry-expanded {
    .icon-collapsed {
        display: none;
    }
}

.entry-time-padding {
    display: inline-block;
    width: 26px;
}

.entry-time-duration {
    display: inline-block;
    margin-right: 1em;
    text-align: right;
    width: 50px;
}

.entry-title {
    display: inline-block;
}
